MONGO_URI = 
DB_NAME = 

JWT_SECRET_KEY = 
JWT_ALGORITHM = 
JWT_ACCESS_SECRET_KEY = 
JWT_ACCESS_EXPIRY_MINUTES = 
JWT_REFRESH_SECRET_KEY = 
JWT_REFRESH_EXPIRY_DAYS = 

USER_SESSION_EXPIRY_MINUTES = 

MAIL_USERNAME = 
MAIL_PASSWORD = 
MAIL_PORT = 
MAIL_SERVER = 
MAIL_FROM = 
APP_NAME = 

FRONTEND_HOST = http://localhost:3000
